Before running this Jupyter notebook, make sure to have run the create.py script to generate and populate the publications database by using the command: python create.py pubs.txt
This notebook will load the database and attempt multiple queries on the database to test its robustness and efficiency.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///database.db

#1 Inserting new publication into database tables

In [ ]:
%sql insert into pubs values(157804, 'SJSU_CMPE', '300-400', 2017, 'DATABASE_DESIGN');

In [ ]:
%sql SELECT TITLE FROM pubs WHERE ID = 157804;

#2 Return publications from a specific author

In [ ]:
%sql SELECT DISTINCT TITLE, ID, YEAR, JOURNAL from pubs, authors WHERE pubs.ID = authors.auth_id AND author = 'Venu Govindaraju'

#3 Return publications from a specific year

In [ ]:
%sql SELECT DISTINCT TITLE, ID, JOURNAL from pubs WHERE pubs.YEAR = 2005

#4 Return publications from a specific journal

In [ ]:
%sql SELECT DISTINCT TITLE, ID, JOURNAL, PAGES, YEAR FROM pubs WHERE pubs.JOURNAL = 'HIP'

#5 Returns publications with a substring in the title

In [ ]:
%sql SELECT DISTINCT TITLE, ID, JOURNAL, PAGES, YEAR from pubs where pubs.TITLE LIKE '%Web%'

#6 Querying publications with author, year, journal, title

In [ ]:
%%sql SELECT DISTINCT TITLE, ID, JOURNAL, PAGES, YEAR from pubs, authors 
WHERE pubs.ID = authors.auth_id 
AND pubs.TITLE LIKE '%Algorithm%' 
AND authors.AUTHOR = 'Venu Govindaraju'
AND JOURNAL = 'ICB'
AND YEAR > 2005

#7  Delete a publication from a particular author, year, journal

In [ ]:
%%sql DELETE from pubs
WHERE pubs.YEAR = 2017
AND pubs.JOURNAL = 'SJSU_CMPE'

#8 Delete records for a given author

In [ ]:
%%sql DELETE from pubs
WHERE pubs.ID in 
(SELECT auth_ID from authors
WHERE authors.AUTHOR = 'Venu Govindaraju');

#9 Change name of author or journal

In [ ]:
%%sql UPDATE pubs
SET JOURNAL = 'zzz'
WHERE ID = 130

#10 Change title of an article or its publication year

In [ ]:
%%sql UPDATE pubs
SET TITLE = 'Query'
WHERE ID = 163